{% extends 'strategy/index.html' %}
{% load staticfiles %}

{% block page_title %}配置文件{% endblock %}
{## 这个页面完成配置展示、及新增指定型号的superd版本的配置工作。#}
{% block content %}
    <div class="row testbogo">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">操作</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <button type="submit" class="btn btn-primary" onclick="jump()">新增配置</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row modconfig" style="display: none">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">新增</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="col-md-2"><input class="input-text version" placeholder="版本号"></div>
                    <div class="col-md-2"><select class="dev_model form-control" id="dev_model"  data-size="5" style="width: 100%;">
                        <option value="fitall">支持全部型号</option>
                        {% for i in model %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select></div>
                    <div class="col-md-2">
                        <select class="cf_type form-control">
                            <option>请选择设备类型</option>
                            {% for i in type %}
                                <option value="{{ i }}">配合【{{ i }}】使用</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-2">
                        <input class="file" type="file" id="file" name="file" size="10"/>
                    </div>
                    <div class="col-md-10" style="margin-top: 10px;">
                        <div><input class="input-text comment" placeholder="备注"></div>
                    </div>

                </div>
                <div class="box-footer">
                        <button type="submit" class="btn btn-primary addsdc" onclick="ajax()">提交</button>
                        <button type="submit" class="btn btn-primary" onclick="jump()">返回</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row datacont">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">列表</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="table_id" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>型号</th>
                            <th>版本</th>
                            <th>类型</th>
                            <th>文件</th>
                            <th>MD5</th>
                            <th>操作人</th>
                            <th>备注</th>
                            <th>更新时间</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for i in data %}

                            <tr>
                                <td>{{ i.id }}</td>
                                <td>{{ i.dev_model }}</td>
                                <td>{{ i.superdcf_version }}</td>
                                <td>{{ i.type }}</td>
                                <td>{{ i.superdcf_file }}</td>
                                <td>{{ i.md5 }}</td>
                                <td>{{ i.user }}</td>
                                <td>{{ i.comment }}</td>
                                <td>{{ i.update_time }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js_fun %}
    <script>
        $(function () {
            dev_model_id = $("#dev_model");
            dev_model_id.select2({
                placeholder: '请选择型号',
                allowClear: true,//允许清空
                language: 'zh-CN',
            });
         });


        function ajax() {

            form_data = new FormData();
            version = $(".version").val();
            file = $(".file")[0].files[0];
            comment = $(".comment").val();
            dev_model = $(".dev_model").val();
            cf_type = $(".cf_type").find("option:selected").val();
            ts = getTimeStamp();
            sign_dt = sign(ts);
            form_data.append('file', file);
            form_data.append('version', version);
            form_data.append('comment', comment);
            form_data.append('dev_model', dev_model);
            form_data.append('cf_type', cf_type);
            form_data.append('ts', ts);
            form_data.append('sign', sign_dt);
            show_part_loading();
            $.ajax({
                url: "{% url 'strategy:setsuperdcf' %}",
                type: 'POST',
                cache: false,
                fileElementId: "file",
                data: form_data,
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                dataType: "json",

                success: function (data) {    //后端返回数据，是列表形式的
                    hide_part_loading();

                    if (data.code === 200) {
                        html = "新增配置成功";
                        sw = 1;
                        setTimeout(function () {
                            $(location).attr('href', '{% url 'strategy:getsuperdcf' %}');
                        }, 2000);
                    }
                    else {
                        html = "新增配置失败,原因:" + data.msg;
                        sw = 3;
                    }
                    part_alert(sw, html, main_msg);


                }
            });
        }

        $(document).ready(function () {


            $('#table_id').DataTable({
                "order": [[0, "desc"]],
                "destroy": true,
                {#"scrollY": 300,#}
                "scrollX": true,
                "scrollCollapse": true,
                "bPaginate": true,
                "bLengthChange": true,
                "bAutoWidth": true,
                "aaSorting": [],
            });

        });

        function jump() {
            $(".modconfig").toggle();
            $(".testbogo").toggle();
            $(".datacont").toggle();
            {#$(location).attr('href', '{% url 'strategy:superdcfadd' %}');#}
        }


    </script>


{% endblock %}
