{% extends 'strategy/index.html' %}
{% load staticfiles %}

{% block page_title %}插件{% endblock %}
{% block content %}
    <div class="row commitbigo">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">操作</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <button type="submit" class="btn btn-primary addsdc" onclick="jump()">构建</button>
                </div>
            </div>
        </div>
    </div>


    <div class="row build_fun" style="display: none;">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">构建插件</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="form-horizontal">

                        <div class="col-lg-2">
                            <span>设备型号：</span>
                            <select class="dev_model form-control">
                                {% for i in dev_model %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>

                        </div>
                        <div class="col-lg-2">
                            <span>插件版本：</span>
                            <select class="tag form-control">
                                {% for i in tag %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                        </div>

                    </div>
                    <div class="reason" style="margin-top: 3%;margin-left: 15px;clear:both;">
                        <div>更新内容:</div>
                        <textarea class="up_comment" style="width: 32%;height: 100px;"></textarea>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary addsdc" onclick="build()">提交构建</button>
                        <button type="submit" class="btn btn-primary addsdc" onclick="jump()">返回</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row build_status" style="display:none">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">构建进度</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-striped" id="chart_table">
                        <thead>
                        <tr>
                            <th style="width: 10%">型号</th>
                            <th style="width: 10%">构建版本</th>
                            <th>进度</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="apmodel"></td>
                            <td class="version"></td>
                            <td class="progres">
                                <div id="prog_out" class="progress progress-striped active">
                                    <div id="prog_in" class="progress-bar progress-bar-success" role="progressbar"
                                         aria-valuenow="20"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                    </div>

                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



    <div class="row resoue">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">构建成功列表</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>型号</th>
                            <th>版本</th>
                            <th>URL</th>
                            <th>MD5</th>
                            <th>状态</th>
                            <th>构建说明</th>
                            <th>操作人</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for i in sdata %}

                            <tr>
                                <td>{{ i.id }}</td>
                                <td><a href="{{ i.download_url }}">{{ i.dev_model }}</a></td>
                                <td>{{ i.superd_version }}</td>
                                <td>{{ i.download_url }}</td>
                                <td>{{ i.md5 }}</td>
                                {% if i.build_status == '1' %}
                                    <td class="todoicon"><img src="{% static 'images/run_ok.png' %}" width="20"
                                                              height="20"/></td>
                                {% else %}
                                    <td class="todoicon"><img src="{% static 'images/run_err.png' %}" width='20'
                                                              height="20"/></td>
                                {% endif %}
                                {#                    <td>{{ i.build_result }}</td>#}
                                <td>{{ i.build_reason }}</td>
                                <td>{{ i.user }}</td>
                                {#                    <td>{{ i.update_time }}</td>#}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row logbiog">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">构建日志</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <table id="example2" class="table table-bordered table-hover">

                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>型号</th>
                            <th>版本</th>
                            <th>状态</th>
                            <th>原因</th>
                            <th>时间</th>
                            <th>操作</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for i in bldata %}

                            <tr>
                                <td>{{ i.id }}</td>
                                <td>{{ i.dev_model }}</td>
                                <td>{{ i.build_tag }}</td>
                                <td>{{ i.build_status }}</td>
                                <td>{{ i.build_reason }}</td>
                                <td>{{ i.update_time }}</td>
                                <td><a type="button" class="detail" id="{{ i.id }}" onclick="getInfo(this)">查看详情</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block js_fun %}
    <script>

        $(document).ready(function () {
            getadvertising('全局', '构建', 'content', 'content_f');
            main_msg='.main-msg';
        });

        num = randomNum(1, 5);
        function submit_build_status_query() {

            prog_in = $('#prog_in');
            prog_in.width(num + '%');     // 改变进度条进度，注意这里是内层的div， res是后台返回的进度
            prog_in.html(num + '%');     // 改变进度条进度，注意这里是内层的div， res是后台返回的进度
            dev_model = $(".dev_model").find("option:selected").text();
            tag = $(".tag").find("option:selected").text();
            reason = $(".up_comment").val();
            ts = getTimeStamp();
            sign_dt = sign(ts);
            sitv = setInterval(function () {
                prog_url = "/strategy/superd_build_result/?dev_model=" + dev_model + "&tag=" + tag + "&reason=" + reason + "&ts=" + ts + "&sign=" + sign_dt;
                // prog_url指请求进度的url，后面会在django中设置
                $.getJSON(prog_url, function (res) {

                    prog_in.width(num + '%');     // 改变进度条进度，注意这里是内层的div， res是后台返回的进度
                    if (prog_in.val()) {
                        prog_in.empty();
                    }
                    prog_in.html(num + '%');     // 改变进度条进度，注意这里是内层的div， res是后台返回的进度
                    add_num = randomNum(2, 10);
                    num = num + add_num;
                    if (res.data === 200) {
                        $('#prog_out').attr("class", "progress progress-bar-success"); // 修改进度条外层div的class, 改为完成形态
                        prog_in.html('100%');     // 改变进度条进度，注意这里是内层的div， res是后台返回的进度
                        clearInterval(sitv);                   // 此时请求成功返回结果了，结束对后台进度的查询
                        setTimeout(function () {
                            $(location).attr('href', '{% url 'strategy:getsuperd' %}');
                        }, 2000);

                    } else if (num > 100) {
                        html = "构建超时，不再等待。";
                        box = $(".box-danger");
                        message = $(".box-body-danger");

                        if (message.val()) {
                            message.empty();
                        }
                        message.html(html);
                        box.show(500);
                        prog_in.width('0%');     // 改变进度条进度，注意这里是内层的div， res是后台返回的进度
                        clearInterval(sitv);
                        setTimeout(function () {
                            box.hide(500);
                            $(location).attr('href', '{% url 'strategy:getsuperd' %}');
                        }, 2000);
                    } else if (res.data === 400) {
                        html = "构建失败！";
                        box = $(".box-danger");
                        message = $(".box-body-danger");

                        if (message.val()) {
                            message.empty();
                        }
                        message.html(html);
                        box.show(500);
                        prog_in.width('0%');     // 改变进度条进度，注意这里是内层的div， res是后台返回的进度
                        clearInterval(sitv);
                        setTimeout(function () {
                            box.hide(500);
                            $(location).attr('href', '{% url 'strategy:getsuperd' %}');
                        }, 5000);
                    }
                });
            }, 1000);                                 // 每1秒查询一次后台进度

        }

        $('#example1').DataTable({
            "order": [[ 0, "desc" ]]
        });
        $('#example2').DataTable({
            "order": [[ 0, "desc" ]]
        });
        function jump() {
            $(".build_fun").toggle();
            $(".build_status").toggle();
            $(".resoue").toggle();
            $(".logbiog").toggle();
             $(".commitbigo").toggle();
            {#$(location).attr('href', '{% url 'strategy:superdbuildadd' %}');#}

        }

        function build() {
            jenkins_info = $(".jenkins_info");
            dev_model = $(".dev_model").find("option:selected").text();
            tag = $(".tag").find("option:selected").text();
            reason = $(".up_comment").val();
            ts = getTimeStamp();
            sign_dt = sign(ts);

            if (reason.length < 5) {
                part_alert(3,'更新内容应该大于5个字。',main_msg,5000)
            } else {
                data = {
                    'dev_model': dev_model,
                    'tag': tag,
                    'reason': reason,
                    'ts': ts,
                    'sign': sign_dt
                };
                ajax(data)
            }

        }
        function ajax(data) {
            $.get("/strategy/superd_build/", data, function (res) {
                if (res.code === 200) {
                    html = "已经开始构建，请稍后。";
                    part_alert(1,html,main_msg,3000);
                    $(".build_fun").hide();
                    a = 200
                } else {
                    html = "构建失败,原因:" + res.msg;
                    part_alert(2,html,main_msg,3000);
                    a = 400
                }

                setTimeout(function () {
                    if (a !== 400) {
                        submit_build_status_query()
                    } else {
                        location.reload()
                    }
                }, 2000);

                apModel = $(".apmodel");
                version = $(".version");
                if (apModel.val()) {
                    apModel.empty()
                }
                if (version.val()) {
                    version.empty()
                }
                apModel.html(data.dev_model);
                version.html(data.tag);

            });
        }

        function getInfo(that) {
            show_part_loading(main_msg);

            id = that.id;
            ts = getTimeStamp();
            sign_dt = sign(ts);

            $.ajax({                       //发起ajax请求
                type: 'get',
                url: '/strategy/buildloginfo/',
                data: {
                    'id': id,
                    'ts': ts,
                    'sign': sign_dt
                },
                contentType: 'application/json',
                success: function (data) {    //后端返回数据，是列表形式的
                    hide_part_loading(main_msg);
                    if (data.code === 200) {
                        da = data.data;
                        htm = '';
                        for (i = 0; i < da.length; i++) {
                            htm += da[i];
                        }

                        $(".win_head_title").val('').html('构建详情');
                        $(".win_detail").val('').html(htm);
                        $('.win_backgroud').toggle()

                    }
                    else {
                        html = "新增配置失败,原因:" + data.msg;
                        part_alert(3,html,main_msg,5000)
                    }

                }
            });
        }


    </script>

{% endblock %}
