{% extends 'checkout/index.html' %}
{% load staticfiles %}

{% block page_title %}测试用例管理{% endblock %}
{## 这个页面完成配置展示、及新增指定型号的superd版本的配置工作。#}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">操作</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <button type="submit" class="btn btn-primary" onclick="jump()">新增用例</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">列表</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="table_id" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>操作指令</th>
                            <th>匹配参数</th>
                            <th>内容匹配条件</th>
                            <th>指定匹配内容</th>
                            <th>备注</th>
                            <th>操作人</th>
                            <th>更新时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in data %}
                            <tr>
                                <td>{{ i.id }}</td>
                                <td>{{ i.args_command }}</td>
                                <td>{{ i.args_name }}</td>
                                <td>{{ i.args_vales }}</td>
                                <td>{{ i.args_remark }}</td>
                                <td>{{ i.args_operator }}</td>
                                <td>{{ i.tc_found }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block js_fun %}
    <script>

        $(document).ready(function () {
            $('#table_id').DataTable(
                {
                    "destroy": true,
                    {#"scrollY": 300,#}
                    "scrollX": true,
                    "scrollCollapse": true,
                    "bPaginate": true,
                    "bLengthChange": true,
                    "bAutoWidth": true,
                    "aaSorting": [],
                    "order": [[ 0, "desc" ]]
                }
            );
        });

        function jump() {
            $(location).attr('href', '{% url 'checkout:dataCase' %}');
        }
        function testDict() {
            const data = {'akey': 'avlue', 'bkey': 'bvalue', 'ckey': 'cvalue'};
            var data1 = {};
            for(var key in data){
                data1[key]={key: data[key]}
            }

        }
    </script>


{% endblock %}
