{% extends 'appack/index.html' %}
{% load staticfiles %}

{% block page_title %}厂商{% endblock %}
{## 这个页面完成配置展示、及新增指定型号的superd版本的配置工作。#}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">操作</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <button type="submit" class="btn btn-primary addsdc" onclick="jump()">新增配置</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">操作</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="superdconf" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>厂商名称</th>
                            <th>厂商编码</th>
                            <th>操作人</th>
                            <th>备注</th>
                            <th>时间</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for i in data|dictsortreversed:"id" %}

                            <tr>
                                <td>{{ i.id }}</td>
                                <td>{{ i.oem_name }}</td>
                                <td>{{ i.oem_code }}</td>
                                <td>{{ i.user }}</td>
                                <td>{{ i.comment }}</td>
                                <td>{{ i.update_time }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>




{% endblock %}

{% block js_fun %}
    <script>

        $(document).ready(function () {

            $('#superdconf').DataTable({
                data: [
                    {% for i in data|dictsortreversed:"id"%}
                        ['{{ i.id }}', '{{ i.oem_name }}', '{{ i.oem_code }}',
                            '{{ i.user }}','{{ i.comment }}','{{ i.update_time }}',
                        ],
                    {% endfor %}
                ],
                columns: [
                    {title: "ID"},
                    {title: "厂商名称"},
                    {title: "厂商编码"},
                    {title: "操作人"},
                    {title: "备注"},
                    {title: "更新时间"},
                ]
            });

        });
        function jump(){
            $(location).attr('href', '{% url 'appack:oem_add' %}');
        }
    </script>


{% endblock %}
