{% extends 'appack/index.html' %}
{% load staticfiles %}

{% block page_title %}连接器{% endblock %}
{## 这个页面完成配置展示、及新增指定型号的superd版本的配置工作。#}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">操作</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <button type="submit" class="btn btn-primary" onclick="jump()">新增配置</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">列表</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="table_id" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>型号</th>
                            <th>版本</th>
                            <th>文件</th>
                            <th>MD5</th>
                            <th>操作人</th>
                            <th>备注</th>
                            <th>更新时间</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for i in data %}

                            <tr>
                                <td>{{ i.id }}</td>
                                <td>{{ i.dev_model }}</td>
                                <td>{{ i.superctl_version }}</td>
                                <td>{{ i.superctl_file }}</td>
                                <td>{{ i.md5 }}</td>
                                <td>{{ i.user }}</td>
                                <td>{{ i.comment }}</td>
                                <td>{{ i.update_time }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block js_fun %}
    <script>

        $(document).ready(function () {
            $('#table_id').DataTable(
                {
                    "destroy": true,
                    {#"scrollY": 300,#}
                    "scrollX": true,
                    "scrollCollapse": true,
                    "bPaginate": true,
                    "bLengthChange": true,
                    "bAutoWidth": true,
                    "aaSorting": [],
                    "order": [[ 0, "desc" ]]
                }
            );
        });

        function jump() {
            $(location).attr('href', '{% url 'appack:superctl_add' %}');
        }
    </script>


{% endblock %}
